<div class="row">
  
</div>
<div class="row">
  <br>
  <% if current_user %>
    <!-- <h3>Hey there <strong><%= current_user.name %></strong>, looking pretty good today!</h3> -->
  <% end %>
  <br>
  <ul>
    <% @results['statuses'].each do |tweet| %>
      <li><%= tweet['text'] %></li>
    <% end %>
  </ul>

</div>