<!-- 
Major Oustanding Todos
-Hide API keys / secret (application_controller, user.rb, omniauth.rb)
-Regenerate API keys
-URL encode search queries (check this is happening)
-Get it deployed
-Add comments everywhere
-->

<br>
<div class="row">
  <%= form_tag root_path, :method => 'get', :id => "search-box" do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<div id="search-results" class="row">
  <%= render 'results' %>
</div>
