<!-- 
Major Oustanding Todos
-Regenerate API keys
-Hide API keys / secret (application_controller, user.rb, omniauth.rb)
-Get it deployed
-Add comments everywhere
-Test with another user
-Modal for login first
-->

<% @page = "searches-index" %>

<div class="row">

  <div id="header">
    <h1>Welcome to the <span>BuzzFeed</span> Tweet Portal</h1>
    <h2>Search for recent tweets, save your favorites.</h2>
  </div>

  <div id="search-box">
    <%= form_tag root_path, method: 'get', id: "search-box" do %>
      <div id="search-bar">
        <%= text_field_tag :search, params[:search] %>
      </div>
      <div id="search-button" >
        <%= submit_tag "Rock on!", name: nil, class: 'button' %>
      </div>
    <% end %>
  </div>

  <div id="search-results">
    <%= render 'results' %>
  </div>
</div>
